@import '../../../../styles/_variables.scss';

.user-wrapper {
  border: 1px solid $light-grey-color;
  padding: 30px;
  margin-bottom: 15px;
  border-radius: 20px;

  .permissions-list {
    padding: 0 20px !important;
    list-style-type: square;

    li {
      position: relative;
      &:hover {
        background-color: $form-shadow-color;
      }

      img {
        height: 20px;
        width: 20px;
        position: absolute;
        right: 10px;
        top: 2px;
        cursor: pointer;
      }
    }
  }
}

.d-inline-block {
  margin-top: 30px;
}

.dropdown-item {
  &:hover {
    background-color: $form-shadow-color !important;
  }
}

p {
  margin-bottom: 2px;
}

:host /deep/ {
  .dropdown-toggle {
    &:after {
      margin-left: 15px !important;
      vertical-align: 2px !important;
    }
  }

  .dropdown-menu {
    &.show {
      width: 300px;
      top: 36px !important;
    }
  }

  .btn-outline-primary {
    color: $white-color !important;
    background-color: $button-main-color !important;
    border-color: $form-background-color !important;
    box-shadow: 0 0 0 2px $form-shadow-color !important;
    width: 300px;
  }
}
