.option {
  position: relative;
  height: 12%;
  display: block;
  margin-top: 0;
  margin: auto;
  cursor: pointer;
}

.option > label {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #404040;
  cursor: pointer;
}

.option:hover {
  background-color: #e6e6ff;
}