<div class="logo-name">
  <img src="assets/img/globe.png" class="globe" />
  <h1>Around the world</h1>
</div>
<div class="translate-icon">
  <img
    src="../../../../assets/img/translate-icon.png"
    closeNgbPopoverAtClick
    [ngbPopover]="translatePopover"
    placement="bottom">
</div>
<div class="right-part-wrapper">
  <div class="not-connected" *ngIf="!userService.isConnected">
    <ul class='lista'>
      <a routerLink="../login" style="text-indent: 4px;">{{ 'log_in' | translate }}</a>
      <a style="text-indent: 4px;"> | </a>
      <a routerLink="../signup">{{ 'sign_up' | translate }}</a>
    </ul>
  </div>
  <div class="connected" *ngIf="userService.isConnected">
    <p class='username'>{{ 'hello' | translate }} {{ userService.connectedUser.username }}</p>
    <a (click)="logout()" class='logout'>{{ 'log_out' | translate }}</a>
  </div>
</div>

<ng-template #translatePopover>
  <div class="language-menu-wrapper">
    <label class="language-menu-item" (click)="changeLanguage('ro')">{{ 'language.ro' | translate }}</label>
    <label class="language-menu-item" (click)="changeLanguage('en')">{{ 'language.en' | translate }}</label>
  </div>
</ng-template>