<div class='window'>
  <div class="form-title">
    <h2>Suggest a new destination or a tourist place</h2>
  </div>
  <div class="form">
    <div class="form-content">
      <div class="form-field">
        <label>Destination name:</label>
        <input class="text-field" type="text" placeholder="Fill with destination name..." required/>
      </div>
      <div class="form-field">
        <label>Tourist place name:</label>
        <input class="text-field" type="text" placeholder="Fill with tourist place name..."/>
      </div>
      <div class="form-field">
        <button class="button" (click)="send()">Send suggestion</button>
      </div>
    </div>
  </div>
</div>

