<div class='window'>
  <div class="form-title">
    <h2>Log in as administrator</h2>
  </div>
  <div class="form">
    <div class="form-content">
      <div class="form-field">
        <label>Username:</label>
        <input class="text-field" id="name" type="text" name="username" placeholder="Fill with your username..."/>
      </div>
      <div class="form-field">
        <label>Password:</label>
        <input class="text-field" id="password" type="password" name="password" placeholder="Fill with your password..."/>
      </div>
      <div class="form-field">
        <button class="button">Log in</button>
      </div>
    </div>
  </div>
</div>