@import '../../../styles/_variables.scss';

app-top-bar {
  background: linear-gradient($form-background-color,$form-shadow-color, $white-color);
  position: fixed;
  height: 10%;
  width: 100%;
  top: 0;
  left: 0;
}

app-menu {
  position: fixed;
  height: 75%;
  width: 20%;
  top: 20%;
  left: 0;
  border-right: 2px solid $black-color;
}

.screen {
  position: fixed;
  height: 73%;
  width: 75%;
  top: 20%;
  right: 4%;
  left: 21%;
  padding: 0 20px;
  overflow: auto;
}
