// Basic colors
$white-color: #fff;
$black-color: black;
$blue-color: blue;
$dark-grey-color: #404040;
$grey-color: grey;
$light-grey-color: #cccccc;
$red-color: red;

// Custom clors
$button-main-color: #7f59f5bf;
$form-background-color: #b3b3ff;
$form-border-color: #adc2eb;
$form-shadow-color: #e6e6ff;
$text-field-background-color: azure;
$text-field-text-color: #8c8c8c;
