@import '~bootstrap/scss/bootstrap.scss';
@import './_variables.scss';

h1 {
  font-size: 30px !important;
}

h2 {
  font-size: 23px !important;
}

.center {
  text-align: center;
}

a {
  color: $black-color;
}

a:hover {
  color: $blue-color;
  cursor: pointer;
}

ul,
ol {
  margin: 0 !important;
  padding: 0 !important;
}

label {
  margin: 0;
}

input {
  padding-left: 7px !important;
}

.window{
  position: absolute;
  height: 60%;
  width: 40%;
  top: 20%;
  left: 30%;
  background-color: $form-background-color;
  border: 1px solid $form-border-color;
  border-radius: 25px;
  box-shadow: 7px 7px $form-shadow-color;
}

.form-title {
  position: relative;
  color: $black-color;
  height: 20%;
  border-bottom: 1px solid $grey-color;
}

.form {
  position: relative;
  width: 100%;
  height: 80%;
}

.form-content {
  position: absolute;
  height: 65%;
  width: 100%;
  top: 15%;
}

.form-field {
  width: 100%;
  height: 25%;
  color: $black-color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    margin-left: 10px !important;
  }
}

.form-footer {
  position: absolute;
  bottom: 5%;
  height: 10%;
  width: 100%;
  text-align: center;
}


.text-field {
  background-color: $text-field-background-color;
  width: 200px;
  margin-left: 10px;
  padding: 3px;
  text-decoration-color: $text-field-text-color;
  font-size: small;
  font-style: italic;
}

.button {
  height: 37px;
  width: 130px;
  font-size: small;
  cursor: pointer;
  margin-top: 1%;
  padding: 5px 15px;
  border-radius: 7px;

  &.primary {
    background-color: $button-main-color;
    color: $white-color;
    border: 1px solid $white-color;
  }

  &.secondary {
    background-color: $white-color;
    color: $button-main-color;
    border: 1px solid $button-main-color;
  }
}

.active {
  background-color: $form-background-color;
  pointer-events: none;
}

.empty-field-error {
  border: 1.5px solid $red-color;
}

.top-bar-dropdown {
  position: fixed;
  right: 250px;
  top: 10px;
}

.arrow-img {
  position: absolute;
  height: 10px;
  right: 10px;
  top: 10px;
}

.arrow-img:hover {
  cursor: pointer;
}

.add-form {
  padding: 15px 30px;
  border: 1px solid $light-grey-color;
  border-radius: 25px;

  .add-label {
    font-weight: bold;
  }
}

.add-touristic-place {
  margin: 30px 15px;

  .url {
    width: 500px;
    margin: 0;
  }
}

.disabled {
  background-color: $light-grey-color !important;
  pointer-events: none;
  cursor: default;
}

// ngb-popover
.popover {
  .arrow {
    margin-left: 0 !important;
  }
}
