.dropdown-header {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 150px;
  margin: 0;
}

.opened{
  border-radius: 10px 10px 0 0;
}

.dropdown-body {
  background-color: white;
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
  border-top: none;
  margin: 0;
  width: 150px;
  max-height: 100px;
  overflow: auto;
}

.dropdown-line-content {
  margin: 5px 10px;
}

.dropdown-body > .dropdown-line-content:hover {
  background-color: #e6e6ff;
  cursor: pointer;
}