<div class="dropdown-container">
  <div class="dropdown-header" [ngClass]="{'opened': displayDropdownBody}">
    <p class="dropdown-line-content">
      {{ dropdownHeader | translate }}
      <img [src]="arrowImgPath" class="arrow-img" (click)="toggleDropdownBody()">
    </p>
  </div>
  <div class="dropdown-body" *ngIf="displayDropdownBody">
    <p class="dropdown-line-content center" *ngFor="let contentItem of dropdownContent" (click)="selectItem(contentItem)">
      {{ (contentItem.shouldTranslate ? (contentItem.element | translate) : contentItem.element) }}
    </p>
  </div>
</div>