@import '../../../styles/_variables.scss';

h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.form-field {
  height: 20%;
}

.error-message {
  color: $red-color;
  font-style: italic;
}