<div class="continent" *ngFor="let continent of continents; let i = index">
  <p>
    <img [src]="continent.arrowImgPath" class="arrow-img" (click)="toggleElement(i, 'continent')">
    {{ continent.name }}
  </p>
  <div *ngIf="continent.display === 'true'">
    <div class="country" *ngFor="let country of countries[continent.name]">
      <p>
        <img [src]="arrowImgPath" class="arrow-img" (click)="toggleElement()">
        {{ country }}
      </p>
      <div class="city" *ngFor="let city of cities[country]">
        <div class="destination" *ngFor="let destination of destinations">
          <div *ngIf="destination.city === city && destination.country === country && destination.continent === continent.name">
            <p>
              <img [src]="arrowImgPath" class="arrow-img" (click)="toggleElement()">
              {{ destination.city }}, {{ destination.country }}
            </p>
            <p>{{ destination.description }}</p>
            <ul>
              <li *ngFor="let touristicPlace of destination.touristicPlaces">
                {{ touristicPlace }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="i < continents.length - 1">
    <hr>
  </div>
</div>